{{>navbar }}

{{!-- to show alerts --}}
<div id="alertMessage" class=" m-2"></div>
    {{#if message}}
   <div id="alertMessage" class=" alert bg-red-800 text-red-200 alert-dismissible fade show m-2" role="alert">
  <strong></strong> <span>{{message}}</span> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<div class="row my-5 ">
  
  <div class="col-md-6 m-auto">
    <div class="card card-body  bg-dark">
      <h1 class="text-center mb-3 text-yellow-200"><i class="fas fa-street-view text-red-900"></i> Update Details</h1>

<form class="update-form">
  <div class="mb-3">
 <label for="name-signup" class="form-label text-info" > <i class="far fa-user"> Name</i></label>
    <input type="text" class="form-control font-weight-bold text-light bg-dark" id="userName" placeholder="{{userName}}">

    <label for="Email" class="form-label text-info" ><i class="fas fa-at my-3"></i> Email address</label>
    <input type="email" class="form-control  font-weight-bold text-light bg-dark" id="user-email" placeholder="{{userEmail}}">
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label text-info"><i class="fas fa-key"></i> Current Password</label>
    <input type="password" class="form-control text-light bg-dark" id="current-password" placeholder="User current Password">
        <label for="password" class="form-label text-danger"><i class="fas fa-key my-3"></i> New Password</label>
    <input type="password" class="form-control text-light bg-dark" id="new-password" placeholder="User New Password">
  </div>
  <button type="submit" class="btn btn-light w-100"> <i class="fas fa-sign-in-alt "></i> Submit</button>

</form>

    </div>
  </div>
</div>